.nachos-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.nachos-text {
  margin-bottom: var(--dl-space-space-twounits);
}


.standard-item-no-pic-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.standard-item-no-pic-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.standard-item-no-pic-item {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
}
.standard-item-no-pic-price {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.standard-item-no-pic-text2 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
}

















.garlic-toast-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.garlic-toast-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.garlic-toast-text1 {
  margin-bottom: var(--dl-space-space-twounits);
}
.garlic-toast-price {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.garlic-toast-text7 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
}


.pizza-card-no-pic-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.pizza-card-no-pic-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.pizza-card-no-pic-item {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
}
.pizza-card-no-pic-size {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pizza-card-no-pic-text2 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.pizza-card-no-pic-text3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.pizza-card-no-pic-text4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.pizza-card-no-pic-price {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.pizza-card-no-pic-text5 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
}
.pizza-card-no-pic-text6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
}
.pizza-card-no-pic-text7 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
}




.pizza-card-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.pizza-card-item {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
}
.pizza-card-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
}
.pizza-card-size {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pizza-card-text2 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.pizza-card-text3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.pizza-card-text4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.pizza-card-price {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.pizza-card-text5 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
}
.pizza-card-text6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
}
.pizza-card-text7 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
}


.standard-item-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.standard-item-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.standard-item-item {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
}
.standard-item-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
}
.standard-item-price {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.standard-item-text2 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
}



.standard-i-sizedtem-no-pic-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.standard-i-sizedtem-no-pic-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.standard-i-sizedtem-no-pic-item {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
}
.standard-i-sizedtem-no-pic-size {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.standard-i-sizedtem-no-pic-text2 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  margin-right: var(--dl-space-space-twounits);
}
.standard-i-sizedtem-no-pic-text3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.standard-i-sizedtem-no-pic-price {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.standard-i-sizedtem-no-pic-text4 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
}
.standard-i-sizedtem-no-pic-text5 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
}


.menu-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.menu-logo {
  color: white;
  font-size: 2em;
  transition: 0.3s;
  text-decoration: none;
}
.menu-logo:hover {
  color: goldenrod;
}
.menu-desktop-menu {
  display: flex;
  margin-left: var(--dl-space-space-fourunits);
}
.menu-nav {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  font-size: 20px;
  align-items: center;
  font-family: Old London Alternate;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: black;
}
.menu-menu {
  text-decoration: none;
}
.menu-take-n-bake {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.menu-about {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.menu-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.menu-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-mobile-menu {
  top: 0px;
  left: 0px;
  color: white;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
.menu-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}
.menu-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.menu-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-icon2 {
  fill: white;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-menu1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-take-n-bake1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-about1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-nav-socials {
  fill: white;
  display: flex;
}
.menu-link {
  display: contents;
}
.menu-nav-yelp {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.menu-link1 {
  display: contents;
}
.menu-nav-f-b {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.menu-menu2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu-menu-header {
  font-size: 3rem;
  margin-top: 15vh;
}
.menu-menu-elements {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.menu-filters {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.menu-appetizers {
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.menu-pizza {
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.menu-pasta {
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.menu-salad {
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.menu-sandwiches {
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.menu-spirits {
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.menu-appetizers1 {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.menu-text20 {
  font-size: 30px;
  font-style: normal;
  font-family: Spectral;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.menu-menu-items {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu-pizza1 {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.menu-text23 {
  font-size: 30px;
  font-style: normal;
  font-family: Spectral;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.menu-menu-items1 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu-pasta1 {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.menu-text26 {
  font-size: 30px;
  font-style: normal;
  font-family: Spectral;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.menu-menu-items2 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu-salad1 {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.menu-text29 {
  font-size: 30px;
  font-style: normal;
  font-family: Spectral;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.menu-menu-items3 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu-sandwiches1 {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.menu-text32 {
  font-size: 30px;
  font-style: normal;
  font-family: Spectral;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.menu-menu-items4 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu-spirits1 {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.menu-text35 {
  font-size: 30px;
  font-style: normal;
  font-family: Spectral;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.menu-menu-items5 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu-menu-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.menu-footer-phone {
  color: white;
  font-size: 1em;
}
.menu-logo1 {
  color: white;
  font-size: 2em;
  transition: 0.3s;
  font-family: Old London Alternate;
  text-decoration: none;
}
.menu-logo1:hover {
  color: goldenrod;
}
.menu-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.menu-link2 {
  display: contents;
}
.menu-footer-yelp {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.menu-link3 {
  display: contents;
}
.menu-footer-facebook {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .menu-nav {
    font-size: 2rem;
  }
  .menu-menu-items {
    grid-template-columns: 1fr 1fr;
  }
  .menu-menu-items1 {
    grid-template-columns: 1fr 1fr;
  }
  .menu-menu-items2 {
    grid-template-columns: 1fr 1fr;
  }
  .menu-menu-items3 {
    grid-template-columns: 1fr 1fr;
  }
  .menu-menu-items4 {
    grid-template-columns: 1fr 1fr;
  }
  .menu-menu-items5 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .menu-desktop-menu {
    display: none;
  }
  .menu-take-n-bake {
    margin-left: var(--dl-space-space-unit);
  }
  .menu-about {
    margin-left: var(--dl-space-space-unit);
  }
  .menu-burger-menu {
    display: flex;
  }
  .menu-menu-elements {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .menu-menu-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .menu-mobile-menu {
    padding: 16px;
  }
  .menu-menu-elements {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .menu-menu-items {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .menu-menu-items1 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .menu-menu-items2 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .menu-menu-items3 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .menu-menu-items4 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .menu-menu-items5 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .menu-menu-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
}
