<div>
  <link href="./garlic-toast.css" rel="stylesheet" />
  <div class="garlic-toast-container menuCard">
    <h2 class="garlic-toast-text"><span>GARLIC TOAST BASKET</span></h2>
    <span class="garlic-toast-text1">
      <span>Ranch Dressing. . . . . . .$1.00</span>
      <br />
      <span>Spaghetti Sauce. . . . . . $1.79</span>
      <br />
      <span>Pizza Sauce. . . . . . . . . .$1.49</span>
    </span>
    <div class="garlic-toast-price">
      <span class="garlic-toast-text7"><span>12.99</span></span>
    </div>
  </div>
</div>
