<div>
  <link href="./nachos.css" rel="stylesheet" />
  <div class="nachos-container menuCard">
    <h2 class="nachos-text"><span>Nachos</span></h2>
    <span>
      <span>Corn Tortilla Chips and</span>
      <br />
      <span>Hot Nacho Cheese . . . $4.99</span>
      <br />
      <span>House-made Salsa . . . $2.19</span>
      <br />
      <span>Sour Cream . . . . . . . . . $1.00</span>
      <br />
      <span>Jalapenos  . .  . . . . . . . .80¢</span>
      <br />
      <span>Basket of Chips. . . . .  .$2.49</span>
    </span>
  </div>
</div>
