<div>
  <link href="./pizza-card.css" rel="stylesheet" />
  <div class="menuCard pizza">
    <h2 class="pizza-card-text"><span>Lorem ipsum</span></h2>
    <div class="pizza-card-item">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHllbGxvdyUyMHRlY2h8ZW58MHx8fHwxNjI2MjU1NDk0&ixlib=rb-1.2.1&w=200"
        class="pizza-card-image"
      />
      <span><span>Description</span></span>
    </div>
    <div class="pizza-card-size">
      <span class="pizza-card-text2"><span>10 in</span></span>
      <span class="pizza-card-text3"><span>12 in</span></span>
      <span class="pizza-card-text4"><span>14 in</span></span>
    </div>
    <div class="pizza-card-price">
      <span class="pizza-card-text5"><span>12.99</span></span>
      <span class="pizza-card-text6"><span>16.99</span></span>
      <span class="pizza-card-text7"><span>21.99</span></span>
    </div>
  </div>
</div>
