<div>
  <link href="./standard-item.css" rel="stylesheet" />
  <div class="standard-item-container menuCard">
    <h2 class="standard-item-text"><span>Lorem ipsum</span></h2>
    <div class="standard-item-item">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHllbGxvdyUyMHRlY2h8ZW58MHx8fHwxNjI2MjU1NDk0&ixlib=rb-1.2.1&w=200"
        class="standard-item-image"
      />
      <span><span>Description</span></span>
    </div>
    <div class="standard-item-price">
      <span class="standard-item-text2"><span>12.99</span></span>
    </div>
  </div>
</div>
